@keyframes move-up-down {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

$primary-color: #06cc99;
$sec-color: #067375;
$link-color: #026773;
$bg-color: #000;
$light-color: #fff;
$dark-color: #2d2d2d;

// common

svg {
  transform: translateY(1px);
}

.sec_title {
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  color: rgba($sec-color, $alpha: 1);

  span {
    font-size: 1rem;
    display: block;
    color: rgba($sec-color, $alpha: 0.75)
  }
}

.sec_title.light {
  color: $light-color;
  span {
    color: rgba($light-color, $alpha: 0.75)
  }
}

.tri_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 40px;
    margin-right: 15px;
  }

  span {
    font-size: 1.5rem;
    color: $link-color;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.spec_link {
  padding-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  &:after {
    content: ' ';
    width: 10%;
    height: 2px;
    background: $link-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.7s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    &:after {
      left: 70%;
      width: 30%;
    }
  }
}

.social-square {
  display: flex;
  list-style: none;
  padding-left: 0;
  li {
    margin-right: 15px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-size: 0.8rem;
      color: $light-color;
      background: rgba($bg-color, $alpha: 0.7);
      &:hover {
        background: rgba($bg-color, $alpha: 1);
      }
    }
  }
}

svg {
  width: 100%;
}

.btn.lab {
  min-width: 150px;
  padding: 10px 15px;
  border-radius: 100px;
  background: linear-gradient(to right, $sec-color, rgba($sec-color, 0.75));
  border: 1px solid transparent;
  color: $light-color;
  &:hover {
    background: $light-color;
    border: 1px solid $sec-color;
    color: $sec-color;
  }
}

// end common

body {
  * {
    transition: all 0.5s ease-in-out;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  .navbar-brand {
    font-family: 'Lobster', cursive;
  }
}

main {
  padding-top: 55px;
}

.sec_content {
  padding: 7rem 0;
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.banner {
  background: url("../img/banner-01.jpg") no-repeat center / cover fixed;
  padding: 20rem 0;
  color: $light-color;
  position: relative;
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
  }
  p {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-style: italic;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
  }
  .scroll_down {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

    i {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.45);
      border-radius: 25px;
      cursor: pointer;
      animation: move-up-down 5s infinite;
      &:hover {
          background: rgba($primary-color, $alpha: 0.8);
      }
    }
  }
}

.about_me {
  .about_img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  }
}

.sec_service {
  background: linear-gradient(to right, $primary-color, $sec-color);
  .lists {
    padding: 1rem;
    background: $light-color;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }
}

.sec_products {
  padding-bottom: 0;
//   background: url(../img/banner-02.jpg) no-repeat center / cover fixed;
  .app_list {
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 0;
    .icn {
      width: 100%;
      color: $light-color;
      position: relative;
      // border: 1px solid rgba($primary-color, 0.25);
      box-shadow: 1px 1px 10px rgba($bg-color, $alpha: 0.15);
    }
    img {
      width: 100%;
    }
    .icn_txt {
      width: 60%;
      height: 100%;
      background: rgba($light-color, $alpha: 1.0);
      padding: 15px;
      position: absolute;
      right: 0;
      top: 0;
      color: $dark-color;
      // border-left: 1px solid rgba($primary-color, 0.25);
    }
    .app_info {
      font-size: 0.8rem;
    }
  }
}


// my blog
.my_blog {
  
  h3 {
    font-weight: bolder;
  }
  .blog_box {
    background: linear-gradient(to bottom, rgba($primary-color, 0.75), rgba($sec-color, 0.75));
    .new_list {
      padding: 2rem;
      color: $light-color;
    }
  }
  .blog_list {
    color: $dark-color;
    padding-left: 0;
  }
  .feat_img {
    width: 100%;
  }
  .blog_ls_post {
    padding: 1rem;
    color: $dark-color;
    // background: rgba($light-color, 0.8);
    * {
      color: $light-color;
    }
    .badge {
      font-size: 1rem;
    }
  }
  .blog_list {
    li {
      display: flex;
      margin-bottom: 1rem;
      padding: 1rem;
      background: rgba($light-color, 0.8);
      .badge {
        font-size: 0.8rem;
      }
      p {
        margin-bottom: 0;
      }
      figure {
        width: 40%;
        margin-bottom: 0;
      }
      .blog_text {
        width: 60%;
        
        padding-left: 1rem;
      }
    }
  }
}